body{
	font-size: 16px;
}
.text-center{
	text-align: center;
}
.swiper-container{
	height: 100%;
}
.swiper-wrapper span{
	text-align:center;
	display: block;
	margin: 20px 20px 10px 20px;
	font-size: 21px;
	color: #fff;
}
.swiper-pagination-bullet-active{
	background-color: #fff;
}
.panel-overlay{
	/*opacity: -5;*/
	background-color: transparent;
}
 #map {
        height: 55%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
.pac-container, .pac-item, .pac-item span{
	z-index: 15000;
}

